{% extends "base.html.twig" %}

{% block title %}New Makler{% endblock %}
{# {% block head %}
    {{ parent() }}
{% endblock %} #}
{# {% block navigation %}
    
{% endblock %} #}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Makler anlegen</h1>
            {% if error|length %}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
            {% endif %}
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        {# <form action="/admin/makler/new" method="POST"> #}
                        <form action="{{ path('makler_new') }}" method="POST">
                            <!-- /.box-header -->
                            <!-- form start -->
                            <div class="box-header with-border">
                                <h3 class="box-title">Persönliche Daten</h3>
                            </div>
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="Mitgliedsnummer">Mitgliedsnummer</label>
                                    <input type="text" class="form-control" id="mitgliedsnummer" name="mitgliedsnummer" placeholder="" value="{{makler.mitgliedsnummer}}" required>
                                </div>
                                <div class="form-group">
                                    <label for="mkategorien">Art der Mitgliedschaft</label>
                                    <select id="mkategorien" name="mkategorie_id" class="form-control" required>
                                        {% for mkategorie in mkategorien %}
                                            <option value={{ mkategorie.mkategorie_id|e }} {% if mkategorie.mkategorie_id == makler.mkategorie_id %} selected {% endif %}>{{ mkategorie.mkname|e }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="Firma">Firmenname</label>
                                    <input type="text" class="form-control" id="firma" name="firma" placeholder="" value="{{makler.firma}}" required>
                                </div>
                                
                                <div class="form-group">
                                    <label for="Anrede">Anrede</label>
                                    <select id="anrede" name="anrede" class="form-control" required>
                                        <option value="Herr" {% if makler.anrede == 'Herr' %} selected {% endif %}>Herr</option>
                                        <option value="Frau" {% if makler.anrede == 'Frau' %} selected {% endif %}>Frau</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="Titel">Titel</label>
                                    <input type="text" class="form-control" id="titel" name="titel" placeholder="" value="{{makler.titel}}">
                                </div>
                                <div class="form-group">
                                    <label for="Vorname">Vorname</label>
                                    <input type="text" class="form-control" id="vorname" name="vorname" placeholder="" value="{{makler.vorname}}" required>
                                </div>
                                <div class="form-group">
                                    <label for="name">Nachname</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="" value="{{makler.name}}" required>
                                </div>

                                <div class="form-group">
                                    <label for="Strasse">Straße & Hausnummer</label>
                                    <input type="text" class="form-control" id="strasse" name="strasse" placeholder="" value="{{makler.strasse}}" required>
                                </div>
                                <div class="form-group">
                                    <label for="plz">PLZ</label>
                                    <input type="text" class="form-control" id="plz" name="plz" placeholder="" value="{{makler.plz}}" required>
                                </div>
                                <div class="form-group">
                                    <label for="ort">Ort</label>
                                    <input type="text" class="form-control" id="ort" name="ort" placeholder="" value="{{makler.ort}}" required>
                                </div>

                                <div id="hong_element">

                                    <div style="width: 70%; float: left;">

                                        <div class="form-group">
                                        <label for="Geschaefststelle">Geschäftsstelle</label>
                                        <div>
                                        <select id="geschaeftsstelle" name="geschaeftsstelle_id" class="form-control" required>
                                            <option value="">-- Bitte wählen --</option>
                                            {% for stelle in geschaeftsstelle %}
                                                <option value={{ stelle.geschaeftsstelle_id|e }} {% if stelle.geschaeftsstelle_id == makler.geschaeftsstelle_id %} selected {% endif %}>{{ stelle.name|e }}</option>
                                            {% endfor %}
                                        </select>
                                        </div>
                                        </div>

                                        <div class="form-group">
                                        <label for="Bundesland">Bundesland</label>
                                        <div>
                                        <select id="bundesland" name="bundesland_id" class="form-control" required>
                                            <option value="">-- Bitte wählen --</option>
                                            {% for land in bundeslaender %}
                                                <option value={{ land.geo_bundesland_id|e }} {% if land.geo_bundesland_id == makler.bundesland_id %} selected {% endif %}>{{ land.bundesland|e }}</option>
                                            {% endfor %}
                                        </select>
                                        </div>
                                        </div>

                                    </div>

                                    <div style="width: 30%; float: left;">
                                        <div class="form-group">
                                            <label for="dummy">-</label>
                                            <button id="geschaeftsstelle_button" type="button" class="btn btn-primary btn-block">Geschäftsstelle <br> und Bundesland <br>automatisch ermitteln</button>
                                        </div>
                                    </div>

                                    <div style="clear: left;"></div>

                                </div>
                                
                                <div class="form-group">
                                    <label for="Telefon">Telefonnummer</label>
                                    <input type="text" class="form-control" id="telefon" name="telefon" placeholder="" value="{{makler.telefon}}" required>
                                </div>
                                <div class="form-group">
                                    <label for="Telefax">Fax</label>
                                    <input type="text" class="form-control" id="telefax" name="telefax" placeholder="" value="{{makler.telefax}}">
                                </div>
                                <div class="form-group">
                                    <label for="Homepage">Homepage</label>
                                    <input type="text" class="form-control" id="homepage" name="homepage" placeholder="" value="{{makler.homepage}}">
                                </div>

                                <div id="hong_element2">
                                    <div style="width: 70%; float: left;">
                                        <div class="form-group">
                                    	    <label for="Homepage">SEO-URL</label>
                                    	    <input type="text" class="form-control" id="seo_url" name="seo_url" placeholder="" value="{{makler.seo_url}}" required>
                                	    </div>  
                                    </div>

                                    <div style="width: 30%; float: left;">
                                        <div class="form-group">
                                            <label for="dummy">-</label>
                                            <button id="seo_button" type="button" class="btn btn-primary btn-block">SEO-URL erzeugen</button>
                                        </div> 
                                    </div>
                                    <div style="clear: left;"></div>
                                </div>
                            </div>            
                    </div>
                <!-- /.box -->
                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <div class="col-md-6">
                <!-- Horizontal Form -->
                {# <div>
                    <p style="color:red;">{{error}}</p>
                </div> #}
            
                <!-- /.box -->
                <!-- general form elements disabled -->
                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <h3 class="box-title">User Daten</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <!-- text input -->
                            <div class="form-group">
                                <label for="Email">Emailadresse</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="" value="{{makler.email}}" required>
                            </div>
                            <div class="form-group">
                                <label for="username">Benutzername</label>
                                <input type="username" class="form-control" id="username" name="username" placeholder="" value="{{makler.username}}" required>
                            </div>
                            <div class="form-group">
                                <label for="UserPasswort">Passwort <small>Klartext</small></label>
                                <input type="text" class="form-control" id="passwort" name="passwort" placeholder="Passwort" value="{{makler.passwort}}" required>
                            </div>
                        </div>
                    <!-- /.box-body -->
                    </div>

                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <h3 class="box-title">FTP-Zugangsdaten</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="form-group">
                                <label for="FTP-Passwort">FTP Passwort <small>Klartext</small></label>
                                <input type="text" class="form-control" id="ftppasswort" name="ftppasswort" placeholder="FTP-Passwort" value="{{makler.ftppasswort}}" required>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary" name="savebutton" value="true">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</form>
  <!-- /.content-wrapper -->
{% endblock %}

{% block footer %}
    {{ parent() }}
    <script>
        $(document).ready(function() {

          $('#seo_button').on('click', function() {
            $.ajax({
              method: "POST",
              url: "/seourl",
              data: { firma: $("#firma").val() + " " + $("#ort").val() }
            })
            .done(function( res ) {
                if(res.status=='empty'){
                    alert("Bitte geben Sie Firmenname zuerst");
                } else {
                    $("#seo_url").val(res.seo_url);
                }
            });
          });

          $('#geschaeftsstelle_button').on('click', function() {
            $.ajax({
              method: "POST",
              url: "/geschaeftsstelle",
              data: { plz: $("#plz").val() }
            })
            .done(function( res ) {
                if(res.status=='empty'){
                    alert("Bitte geben Sie PLZ-Angabe zuerst");
                } 
                else if (res.status=='notfound') {
                    alert("PLZ wurde nicht gefunden");
                }
                else {
                    $('#geschaeftsstelle').val(res.geschaeftsstelle_id);
                    $('#bundesland').val(res.bundesland_id);
                }
            });
          });

        });
    </script>
{% endblock %}