{% extends 'base.html.twig' %}

{% block title %}Interessent-PW Edit{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <section class="content-header">
        <h1>Interessent-Passwort bearbeiten</h1>
      </section>
      <!-- Main content -->
      <section class="content">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">

          {# <form action="/interessent/{{user_id}}/pwedit" method="POST"> #}
          <form action="{{ path('interessent_pw_edit', {'uid': user_id}) }}" method="POST">
            <!-- Horizontal Form -->
            <!-- /.box -->
            <!-- general form elements disabled -->
            <div class="box box-warning">
              <div class="box-header with-border">
                <h3 class="box-title">Neues Passwort vergeben</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                  <!-- text input -->
                   <div class="form-group">
                    <label for="Email">UserID</label>
                    <input type="text" class="form-control" id="userid" name="userid" placeholder="{{user_id}}" value="{{user_id}}" required readonly>
                  </div>
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input type="username" class="form-control" id="user" name="user" placeholder="{{username}}" required readonly>
                  </div>
                  <div class="form-group">
                    <label for="Passwort">Passwort <small>Klartext</small></label>
                    <input type="text" class="form-control" id="passwort" name="passwort" placeholder="Passwort" required>
                  </div>
              </div>
			        <div class="box-footer">
                  <button type="submit" class="btn btn-primary" name="savebutton" value="true">Ändern</button>
              </div>
              <!-- /.box-body -->
            </div>
          </div>
        </div>
      </section>
    </div>
  </form>
  <!-- /.content-wrapper -->
{% endblock %}