<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>{% block title %}{% endblock %}</title>
        <!-- Bootstrap 3.3.7 -->
        <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{{ asset('dist/css/AdminLTE.min.css') }}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('bower_components/font-awesome/css/font-awesome.min.css') }}">
        <!-- AdminLTE Skins. Choose a skin from the css/skins -->
        <link rel="stylesheet" href="{{ asset('dist/css/skins/_all-skins.min.css') }}">
        <!-- Google Font -->
        {# <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"> #}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
        {% block head %}
            {# <link rel="stylesheet" href="style.css"/> #}
        {% endblock %}
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            <header class="main-header">
                <!-- Logo -->
                <a href="/home" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    {# <span class="logo-mini"><b>ivd24</b></span> #}
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>Support</b>Backend</span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                        {# <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> #}
                    </a>
                </nav>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                {% block navigation %}
                <section class="sidebar">
                    <ul class="sidebar-menu" data-widget="tree">
                        {% set route_name = app.request.attributes.get('_route') %}
                        {% if app.user %}
                            <li><a href="/logout"><i class="fa fa-circle-o"></i>Logout</a></li>
                        {% else %}
                            <li {% if route_name == "login" %} class="active"{% endif %}><a href="/login"><i class="fa fa-circle-o"></i>Login</a></li>
                        {% endif %}
                        <li class="treeview {% if route_name in ["default_home"] %}active{% endif %}">
                            <a href="#">
                                <i class="fa fa-laptop"></i> 
                                <span>Public</span>
                                <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if route_name == "default_home" %} class="active"{% endif %}><a href="{{ path('default_home') }}"><i class="fa fa-circle-o"></i>Home Page</a></li>
                            </ul>
                        </li>

                        {% if is_granted("ROLE_STATISTIC") %}
                        <li class="treeview {% if route_name in ["statistic_dashboard", "statistic_dashboard_region"] %}active{% endif %}">
                            <a href="#">
                                <i class="fa fa-laptop"></i>
                                <span>Statistic Ansichten</span>
                                <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if route_name in ["statistic_dashboard", "statistic_dashboard_region"] %} class="active"{% endif %}><a href="{{ path('statistic_dashboard') }}"><i class="fa fa-circle-o"></i>Überblick</a></li>
                            </ul>
                        </li>
                        {% endif %}

                        {% if is_granted("ROLE_SUPPORT") %}

                        <li class="treeview {% if route_name in ["makler_new", "makler_list", "makler_edit", "makler_ftp_edit", "makler_pw_edit", "makler_delete_list", "makler_delete"] %}active{% endif %}">
                            <a href="#">
                                <i class="fa fa-edit"></i> 
                                <span>Maklerverwaltung</span>
                                <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if route_name == "makler_new" %} class="active"{% endif %}><a href="{{ path('makler_new') }}"><i class="fa fa-circle-o"></i>Makler anlegen</a></li>
		                        <li {% if route_name in ["makler_list", "makler_edit", "makler_ftp_edit", "makler_pw_edit"]  %} class="active"{% endif %}><a href="{{ path('makler_list') }}"><i class="fa fa-circle-o"></i>Makler bearbeiten</a></li>
		                        <li {% if route_name in ["makler_delete_list", "makler_delete"]  %} class="active"{% endif %}><a href="{{ path('makler_delete_list') }}"><i class="fa fa-circle-o"></i>Makler löschen</a></li>
                            </ul>
                        </li>

                        <li class="treeview {% if route_name in ["bcuser_list", "bcuser_edit", "bcuser_delete_list", "bcuser_delete", "notbcuser_list"] %}active{% endif %}">
                            <a href="#">
                                <i class="fa fa-edit"></i> 
                                <span>BusinessClub</span>
                                <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if route_name in ["bcuser_list", "bcuser_edit"] %} class="active"{% endif %}><a href="{{ path('bcuser_list') }}"><i class="fa fa-circle-o"></i>BcUser bearbeiten</a></li>
                                <li {% if route_name in ["bcuser_delete_list", "bcuser_delete"] %} class="active"{% endif %}><a href="{{ path('bcuser_delete_list') }}"><i class="fa fa-circle-o"></i>BcUser löschen</a></li>
                                <li {% if route_name in ["notbcuser_list"] %} class="active"{% endif %}><a href="{{ path('notbcuser_list') }}"><i class="fa fa-circle-o"></i>Nicht-BcUser Liste</a></li>
                            </ul>
                        </li>

                        <li class="treeview {% if route_name in ["stock_statistic", "stock_shareholders", "stock_notverified", "stock_verify", "stock_notshareholders", "stock_allmeeting", "stock_meeting", "stock_meetinginvite"] %}active{% endif %}">
                            <a href="#">
                            <i class="fa fa-edit"></i>
                            <span>Aktienverwaltung</span>
                            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if route_name in ["stock_statistic"] %} class="active"{% endif %}><a href="{{ path('stock_statistic') }}"><i class="fa fa-circle-o"></i>Statistic</a></li>
                                <li {% if route_name in ["stock_shareholders"] %} class="active"{% endif %}><a href="{{ path('stock_shareholders') }}"><i class="fa fa-circle-o"></i>Aktionäre Liste</a></li>
                                <li {% if route_name in ["stock_notverified", "stock_verify"] %} class="active"{% endif %}><a href="{{ path('stock_notverified') }}"><i class="fa fa-circle-o"></i>Aktienkäufe verifizieren</a></li>
                                <li {% if route_name in ["stock_notshareholders"] %} class="active"{% endif %}><a href="{{ path('stock_notshareholders') }}"><i class="fa fa-circle-o"></i>Nicht-Aktionäre Liste</a></li>
                                <li {% if route_name in ["stock_allmeeting", "stock_meeting", "stock_meetinginvite"] %} class="active"{% endif %}><a href="{{ path('stock_allmeeting') }}"><i class="fa fa-circle-o"></i>Hauptversammlung</a></li>
                            </ul>
                        </li>

                        <li class="treeview {% if route_name in ["template_list", "template_new", "template_edit", "template_delete"] %}active{% endif %}">
                            <a href="#">
                                <i class="fa fa-edit"></i> 
                                <span>TemplateManager</span>
                                <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if route_name in ["template_list", "template_edit", "template_delete"] %} class="active"{% endif %}><a href="{{ path('template_list') }}"><i class="fa fa-circle-o"></i>Template Liste</a></li>
		                        <li {% if route_name in ["template_new"] %} class="active"{% endif %}><a href="{{ path('template_new') }}"><i class="fa fa-circle-o"></i>Template anlegen</a></li>
                            </ul>
                        </li>

                        <li class="treeview {% if route_name in ["server_list", "server_edit", "server_pause_list"] %}active{% endif %}">
                            <a href="#">
                            <i class="fa fa-edit"></i>
                            <span>FTP Import</span>
                            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if route_name in ["server_list", "server_edit"] %} class="active"{% endif %}><a href="{{ path('server_list') }}"><i class="fa fa-circle-o"></i>FTP-Import pausieren</a></li>
                                <li {% if route_name in ["server_pause_list"] %} class="active"{% endif %}><a href="{{ path('server_pause_list') }}"><i class="fa fa-circle-o"></i>Pausierte FTP-Importe </a></li>
                            </ul>
                        </li>

                        <li class="treeview {% if route_name in ["interessent_list", "interessent_edit", "interessent_pw_edit", "interessent_delete_list", "interessent_delete"] %}active{% endif %}">
                            <a href="#">
                                <i class="fa fa-edit"></i> 
                                <span>Interessentverwaltung</span>
                                <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if route_name in ["interessent_list", "interessent_edit", "interessent_pw_edit"] %} class="active"{% endif %}><a href="{{ path('interessent_list') }}"><i class="fa fa-circle-o"></i>Interessent bearbeiten</a></li>
		                        <li {% if route_name in ["interessent_delete_list", "interessent_delete"] %} class="active"{% endif %}><a href="{{ path('interessent_delete_list') }}"><i class="fa fa-circle-o"></i>Interessent löschen</a></li>
                            </ul>
                        </li>

                        {% endif %}
                        
                        {% if is_granted("ROLE_ADMIN") %}
                        <li class="treeview {% if route_name in ["supporter_new", "supporter_list", "supporter_edit", "supporter_delete", "statisticuser_new", "statisticuser_list", "statisticuser_edit", "statisticuser_delete"] %}active{% endif %}">
                            <a href="#">
                            <i class="fa fa-edit"></i>
                            <span>Admin Elemente</span>
                            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if route_name == "supporter_new" %} class="active"{% endif %}><a href="{{ path('supporter_new') }}"><i class="fa fa-circle-o"></i>Supporter anlegen</a></li>
                                <li {% if route_name in ["supporter_list", "supporter_edit", "supporter_delete"] %} class="active"{% endif %}><a href="{{ path('supporter_list') }}"><i class="fa fa-circle-o"></i>Supporter bearbeiten</a></li>
                                <li {% if route_name == "statisticuser_new" %} class="active"{% endif %}><a href="{{ path('statisticuser_new') }}"><i class="fa fa-circle-o"></i>StatisticUser anlegen</a></li>
                                <li {% if route_name in ["statisticuser_list", "statisticuser_edit", "statisticuser_delete"] %} class="active"{% endif %}><a href="{{ path('statisticuser_list') }}"><i class="fa fa-circle-o"></i>StatisticUser bearbeiten</a></li>
                            </ul>
                        </li>
                        {% endif %}

                    </ul>
                </section>
                {% endblock %}
            <!-- /.sidebar -->
            </aside>

            {% block content %}
            {% endblock %}

            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 1.0
                </div>
                <strong>Copyright &copy; 2021 <a href="https://www.ivd24immobilien.de">ivd24</a>.</strong> All rights reserved.
            </footer>
            <div class="control-sidebar-bg"></div>
        </div>
        <!-- ./wrapper -->
        {% block footer %} 
            <!-- jQuery 3 -->
            <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
            <!-- Bootstrap 3.3.7 -->
            <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <!-- FastClick -->
            <script src="{{ asset('bower_components/fastclick/lib/fastclick.js') }}"></script>
            <!-- SlimScroll -->
            {# <script src="{{ asset('bower_components/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script> #}
            <!-- CK Editor -->
            {# <script src="{{ asset('bower_components/ckeditor/ckeditor.js') }}"></script> #}
            <!-- AdminLTE App -->
            <script src="{{ asset('dist/js/adminlte.min.js') }}"></script>

        {% endblock %}
        {# </div> #}
        {% block zusatz %} 
        {% endblock %}
    </body>
</html>