{% extends 'base.html.twig' %}

{% block title %}Hauptversammlung Details{% endblock %}

{% block head %}
  <style>
    .tox-notification { display: none !important }
</style>
{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <section class="content-header">

        <h1>Hauptversammlung vom {{meeting.meeting_date|date("d.m.Y")}}</h1>
        {% if error|length %}
          <div class="alert alert-danger" role="alert">
            {{error}}
          </div>
        {% endif %}
      </section>
      <!-- Main content -->
      <section class="content">
        
        <div class="row">
          
          <!-- left column -->
          <div class="col-md-6">
            <div class="box box-warning">
                {# <div class="box-header with-border">
                    <h3 class="box-title">Supporter anlegen</h3>
                </div> #}
                <!-- /.box-header -->
                <div class="box-body">
                    <!-- text input -->
                    Status: <b>{{status}}</b> 
                    <a onclick="showConfirm(event)" href="{{ path('stock_meetingclose', {'hauptversammlung_id': hauptversammlung_id}) }}"><button class="btn btn-primary btn-sm">HV abschließen</button></a>
                    <br><br>
                    
                    angelegt am: {{meeting.insert_date|date("d.m.Y")}}<br>
                    zuletzt bearbeitet am: {{meeting.update_date|date("d.m.Y")}}<br><br>
                    Anzahl stimmberechtigte Aktionäre bei Hauptversammlung: {{meeting.number_of_people_entitled_to_vote}}<br>
                    Anzahl ausgegebenen Aktien bei Hauptversammlung: {{meeting.number_of_shares_issued}}<br>
                    Anzahl Anmeldungen von Aktionären zur Hauptversammlung: {{meeting.registration_of_shareholders}}<br>
                    Protokoll: <br><br>

                    <div class="form-group">
                      <a href="{{ path('stock_meetinginvite', {'hauptversammlung_id': hauptversammlung_id}) }}"><button class="btn btn-primary">Email an Aktionäre versenden</button></a>
                    </div>
                  
                    <form action="{{ path('stock_meeting', {'hauptversammlung_id': hauptversammlung_id}) }}" method="POST">

                    <div class="form-group">
                        <label for="username">Textfeld Hauptversammlung Protokoll</label>
                        <textarea class="form-control" id="protokoll" name="protokoll" type="text" rows="12" required>{{meeting.protocol_general_meeting}}</textarea>
                    </div>
                    
                </div>
			          <div class="box-footer">
                    <button type="submit" class="btn btn-primary" name="savebutton" value="true">Speichern</button>
                </div>
                <!-- /.box-body -->
                </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  
  <!-- /.content-wrapper -->
{% endblock %}

{% block zusatz %}

  <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/jquery.tinymce.min.js" referrerpolicy="origin"></script>

  <script>
      $('textarea#protokoll').tinymce({
        height: 400,
        menubar: false,
        plugins: [
          'advlist autolink lists link image charmap print preview anchor',
          'searchreplace visualblocks code fullscreen',
          'insertdatetime media table paste code help wordcount'
        ],
        toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help'
      });
  </script>

  <script>
        function showConfirm(event){
            var answer = window.confirm("Wollen Sie diese HV wirklich abschließen ?");
            if (answer==false) {
                event.preventDefault();
            }
        }
    </script>
    
{% endblock %}