<div style='width:100%;margin:5px;'>
    <p><strong>Ihr Account bei ivd24immobilien.de wurde freigeschaltet</strong></p>
<p>&nbsp;</p>
<p>Guten Tag {{anrede}}, {{titel}} {{vorname}}, {{nachname}},</p>
<p>&nbsp;</p>
<p>Ihr User-Account ist nun aktiv und Sie k&ouml;nnen sich mit den nachstehenden Anmeldeinformationen auf ivd24immobilien.de einloggen. Nehmen Sie bitte direkt nach dem ersten Anmelden die beiden folgenden Schritte vor, um die Einrichtung Ihres Accounts abzuschlie&szlig;en:</p>
<p>&nbsp;</p>
<ol>
<li><strong>Schritt:</strong> Nach dem ersten Login &uuml;berpr&uuml;fen Sie bitte unbedingt Ihre Impressumsangaben auf Vollst&auml;ndigkeit und best&auml;tigen Sie dies mit Impressum freigeben. Erst durch die Freigabe des Impressums wird Ihr pers&ouml;nlicher Anbieterbereich auf ivd24 angezeigt. Der pers&ouml;nliche Anbieterbereich ist Ihre Visitenkarte auf ivd24. Dort sind alle Ihre aktiven Angebote sichtbar und - sofern vorhanden und aktiviert &ndash; auch Ihre Objektreferenzen. Zudem k&ouml;nnen Sie im Anbieterbereich Ihr Unternehmen und Ihr Team vorstellen. Zus&auml;tzlich gibt es einen direkten Link auf Ihre eigene Website.</li>
</ol>
<p>&nbsp;</p>
<ol start="2">
<li><strong>Schritt:</strong> Laden Sie Ihr Unternehmenslogo hoch. Das Unternehmenslogo erscheint in der Expertensuche neben Ihren Kontaktdaten. Unternehmen die kein Logo eingestellt haben, werden in der Suche niedriger gelistet.</li>
</ol>
<p>&nbsp;</p>
<p>Mit diesen beiden Schritten haben Sie Grundeinrichtung abgeschlossen und k&ouml;nnen alles Funktionen des Portals nutzen. Wenn Sie mit einer Maklersoftware arbeiten, ben&ouml;tigen Sie zur &Uuml;bertragung die sog. FTP-Zugangsdaten, die Sie in Ihre Software eintragen m&uuml;ssen. Sie finden die FTP-Zugangsdaten im Men&uuml;punkt:</p>
<p>Mein IVD24 -&gt; Meine Daten -&gt; FTP-Zugangsdaten</p>
<p>&nbsp;</p>
<p>Anleitungen zum Einrichten der Schnittstelle finden Sie unter:</p>
<p>Mein IVD24 -&gt; Meine Daten -&gt; Hilfe/FAQ</p>
<p>&nbsp;</p>
<p><strong>Ihre Zugangsdaten</strong></p>
<p>Benutzername: <strong>{{username}}</strong></p>
<p>Passwort: <strong>{{passwort}}</strong></p>
<p>&nbsp;</p>
<p>Neben der klassischen Angebotsplattform zur Vermarktung Ihrer Immobilien, profitieren Sie bei ivd24 von weiteren kostenfreien Serviceangeboten:</p>
<ul>
<li>IVD-Expertensuche</li>
<li>Objektverwaltung f&uuml;r die eigene Webseite</li>
<li>Spezial-Druckfunktionen: z.B. Schaufenster-/Messebanner-Druck</li>
<li>Immo-Profi-Texter</li>
<li>B&ouml;rsenfunktion f&uuml;r Gemeinschaftsgesch&auml;fte</li>
<li>Referenzobjekte</li>
<li>Exportschnittstellen</li>
</ul>
<p>&nbsp;</p>
<p>Folgende Services k&ouml;nnen auf Wunsch dazugebucht werden:</p>
<ul>
<li>ivd24 Grundrissservice</li>
<li>ivd24 Image- und Sichtbarkeitspaket</li>
<li>ivd24 Leadsystem</li>
<li>Schufa-Bonit&auml;tsauskunft</li>
<li>StoryBox Video App</li>
<li>on-geo: Maklerbewertung u.a.</li>
</ul>
<p>&nbsp;</p>
<p>Ausf&uuml;hrliche Informationen finden Sie in unserem <a href="https://ivd24immobilien.de/dokumente/ivd24/Willkommen-bei-ivd24.pdf">Tutorial</a>.</p>
<p>Um Ihnen neben all diesen Mehrwerten noch weitere Funktionalit&auml;ten und Partnerschaften anbieten zu k&ouml;nnen, haben wir unseren <a href="https://ivd24immobilien.de/newsletter-businessclub/?returncode=EMAIADRESSE-AUS-USER_MAKLER_CONFIG-returncode">ivd24-Business-Club</a> ins Leben gerufen.</p>
<p>&nbsp;</p>
<p>Bei Fragen oder Anregungen rufen Sie uns gerne an. Sie erreichen uns montags bis freitags von 9:00 bis 16:30 Uhr unter der 089 / 290 820 50.</p>
<p>&nbsp;</p>
<p>Den technischen Support erreichen Sie montags bis freitags von 9:00 bis 16:30 Uhr unter der 089 / 290 820 55 oder per E-Mail unter <a href="mailto:support@ivd24.de">support@ivd24.de</a>.</p>
<p>&nbsp;</p>
<p>Wir w&uuml;nschen Ihnen gute Gesch&auml;fte und hoffen einen kleinen Beitrag mit ivd24.de leisten zu k&ouml;nnen.</p>
<p>&nbsp;</p>
<p>Mit freundlichen Gr&uuml;&szlig;en</p>
<p>&nbsp;</p>
<p>Ihr ivd24 Team</p>

</div>